<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Tic Tac Toe</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
	integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
	crossorigin="anonymous">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<style>
table, th, td {
	border: 1px solid #cccccc;
}

.tic-tac {
	width: 150px;
	height: 150px;
	cursor: pointer;
	background: #ffffff url("/images/blank.png") no-repeat local center;
}

.tic-tac-disabled {
	cursor: default;
}

.x-cell {
	background: #ffffff url("/images/x.png") no-repeat local center;
}

.x-final-cell {
	background: #ffffff url("/images/x-final.png") no-repeat local center;
}

.o-cell {
	background: #ffffff url("/images/o.png") no-repeat local center;
}

.o-final-cell {
	background: #ffffff url("/images/o-final.png") no-repeat local center;
}
</style>
	<!-- Static navbar -->
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Tic Tac Toe</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse"></div>
			<!--/.nav-collapse -->
		</div>
	</nav>


	<div class="container">
		<div class="row">

			<div class="col-md-2">
				<div class="form-group">
					<button type="button" id="newGame" class="btn btn-action btn-lg">New
						game</button>
				</div>
			</div>
			<div class="col-md-8">

				<table>
					<tr>
						<td class="tic-tac blank-cell" id="cell-0"></td>
						<td class="tic-tac blank-cell" id="cell-1"></td>
						<td class="tic-tac blank-cell" id="cell-2"></td>
					</tr>
					<tr>
						<td class="tic-tac blank-cell" id="cell-3"></td>
						<td class="tic-tac blank-cell" id="cell-4"></td>
						<td class="tic-tac blank-cell" id="cell-5"></td>
					</tr>
					<tr>
						<td class="tic-tac blank-cell" id="cell-6"></td>
						<td class="tic-tac blank-cell" id="cell-7"></td>
						<td class="tic-tac blank-cell" id="cell-8"></td>
					</tr>
				</table>

			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
	<!-- /container -->


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript for Bootstrap -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
		integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
		crossorigin="anonymous"></script>
	<script type="text/javascript">
		function containsAll(needles, haystack) {
			for (var i = 0, len = needles.length; i < len; i++) {
				if ($.inArray(needles[i], haystack) == -1)
					return false;
			}
			return true;
		}

		var gameFinishedGlobal = false;
		$(document)
				.ready(
						function() {
							$("#newGame").click(function() {
								window.location.reload(true);
							});

							$(".tic-tac")
									.click(
											function() {
												var cellId = $(this).attr("id")
														.replace("cell-", "");
												if (gameFinishedGlobal) {
													return;
												}
												$
														.ajax({
															contentType : 'application/json',
															processData : false,
															type : "POST",
															dataType : "json",
															url : "/user-turn",
															data : JSON
																	.stringify({
																		"value" : cellId
																	}),
															success : function(
																	result) {
																var i, len, deck = result.deck, cellSelector, cellClass;
																for (
																		len = deck.length,
																		i = 0; i < len; ++i) {
																	cellSelector = "#cell-"
																			+ i;
																	cellClass = "tic-tac "
																			+ deck[i]
																			+ "-cell";
																	$(
																			cellSelector)
																			.attr(
																					"class",
																					cellClass);
																}

																if (result.gameFinished) {
																	gameFinishedGlobal = true;
																	$(
																			".tic-tac")
																			.addClass(
																					"tic-tac-disabled");

																	var xCells = $(
																			'.x-cell')
																			.map(
																					function() {
																						return $(
																								this)
																								.attr(
																										'id')
																								.replace(
																										"cell-",
																										"");
																					})
																			.get();

																	if (containsAll(
																			[
																					"0",
																					"1",
																					"2" ],
																			xCells)) {
																		$(
																				"#cell-0, #cell-1, #cell-2")
																				.addClass(
																						"x-final-cell");
																	}

																	if (containsAll(
																			[
																					"3",
																					"4",
																					"5" ],
																			xCells)) {
																		$(
																				"#cell-3, #cell-4, #cell-5")
																				.addClass(
																						"x-final-cell");
																	}

																	if (containsAll(
																			[
																					"6",
																					"7",
																					"8" ],
																			xCells)) {
																		$(
																				"#cell-6, #cell-7, #cell-8")
																				.addClass(
																						"x-final-cell");
																	}

																	if (containsAll(
																			[
																					"0",
																					"4",
																					"8" ],
																			xCells)) {
																		$(
																				"#cell-0, #cell-4, #cell-8")
																				.addClass(
																						"x-final-cell");
																	}

																	if (containsAll(
																			[
																					"2",
																					"4",
																					"6" ],
																			xCells)) {
																		$(
																				"#cell-2, #cell-4, #cell-6")
																				.addClass(
																						"x-final-cell");
																	}

																	if (containsAll(
																			[
																					"0",
																					"3",
																					"6" ],
																			xCells)) {
																		$(
																				"#cell-0, #cell-3, #cell-6")
																				.addClass(
																						"x-final-cell");
																	}

																	if (containsAll(
																			[
																					"1",
																					"4",
																					"7" ],
																			xCells)) {
																		$(
																				"#cell-1, #cell-4, #cell-7")
																				.addClass(
																						"x-final-cell");
																	}

																	if (containsAll(
																			[
																					"2",
																					"5",
																					"8" ],
																			xCells)) {
																		$(
																				"#cell-2, #cell-5, #cell-8")
																				.addClass(
																						"x-final-cell");
																	}

																	var oCells = $(
																			'.o-cell')
																			.map(
																					function() {
																						return $(
																								this)
																								.attr(
																										'id')
																								.replace(
																										"cell-",
																										"");
																					})
																			.get();

																	if (containsAll(
																			[
																					"0",
																					"1",
																					"2" ],
																			oCells)) {
																		$(
																				"#cell-0, #cell-1, #cell-2")
																				.addClass(
																						"o-final-cell");
																	}

																	if (containsAll(
																			[
																					"3",
																					"4",
																					"5" ],
																			oCells)) {
																		$(
																				"#cell-3, #cell-4, #cell-5")
																				.addClass(
																						"o-final-cell");
																	}

																	if (containsAll(
																			[
																					"6",
																					"7",
																					"8" ],
																			oCells)) {
																		$(
																				"#cell-6, #cell-7, #cell-8")
																				.addClass(
																						"o-final-cell");
																	}

																	if (containsAll(
																			[
																					"0",
																					"4",
																					"8" ],
																			oCells)) {
																		$(
																				"#cell-0, #cell-4, #cell-8")
																				.addClass(
																						"o-final-cell");
																	}

																	if (containsAll(
																			[
																					"2",
																					"4",
																					"6" ],
																			oCells)) {
																		$(
																				"#cell-2, #cell-4, #cell-6")
																				.addClass(
																						"o-final-cell");
																	}

																	if (containsAll(
																			[
																					"0",
																					"3",
																					"6" ],
																			oCells)) {
																		$(
																				"#cell-0, #cell-3, #cell-6")
																				.addClass(
																						"o-final-cell");
																	}

																	if (containsAll(
																			[
																					"1",
																					"4",
																					"7" ],
																			oCells)) {
																		$(
																				"#cell-1, #cell-4, #cell-7")
																				.addClass(
																						"o-final-cell");
																	}

																	if (containsAll(
																			[
																					"2",
																					"5",
																					"8" ],
																			oCells)) {
																		$(
																				"#cell-2, #cell-5, #cell-8")
																				.addClass(
																						"o-final-cell");
																	}

																	alert(result.message);
																}
															}
														});
											});

						});
	</script>
</body>
</html>